<!doctype html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/fragment::head('拦截记录')"></head>
<body>
<header th:replace="base/fragment::header"></header>

<div class="container">
  <div class="wrapper manage-wrapper">
    <nav th:replace="base/fragment::nav(0)"></nav>
    <div class="content">
      <div class="card manage-card">
        <div class="title-block"><h3 class="title">拦截记录</h3>
        </div>
        <table class="manage-table">
          <tr>
            <th>拦截IP</th>
            <th>拦截时间</th>
            <th>次数</th>
          </tr>
          <tbody th:each="intercept:${interceptList}">
          <tr>
            <td th:text="${intercept.ip}">192.168.1.1</td>
            <td th:text="${intercept.time}">2017年4月13日23:11:36</td>
            <td th:text="${intercept.times}">13</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Scripts -->
<th:block th:replace="base/fragment::script"/>
</body>
</html>