<!doctype html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/fragment::head('拦截管理')"></head>
<body>
<header th:replace="base/fragment::header"></header>

<div class="container">
  <div class="wrapper manage-wrapper">
    <nav th:replace="base/fragment::nav(3)"></nav>
    <div class="content">
      <div class="card manage-card">
        <div class="title-block"><h3 class="title">拦截管理</h3>
          <a href="#" th:href="@{/root/ip/add}" class="btn btn-primary">添加拦截IP</a>
        </div>
        <table class="manage-table">
          <tr>
            <th>拦截IP</th>
            <th>添加时间</th>
            <th>操作</th>
          </tr>
          <tbody th:each="intercept:${interceptList}">
          <tr>
            <td th:text="${intercept.ip}">192.168.1.1</td>
            <td th:text="${intercept.endTime}">2017年4月13日23:11:36</td>
            <td>
              <form action="#" th:action="@{/ip/delete}" method="post">
                <input type="hidden" name="id" th:value="${intercept.id}">
                <button class="link" type="submit">移除</button>
              </form>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Scripts -->
<th:block th:replace="base/fragment::script"/>
</body>
</html>