<!doctype html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/fragment::head('添加拦截IP')"></head>
<body>
<header th:replace="base/fragment::header"></header>

<div class="container">
  <div class="wrapper">
    <div class="card single-card">
      <h3 class="title">添加拦截IP</h3>
      <form class="login-form" action="#">
        <div class="form-item">
          <label for="ip">拦截IP</label>
          <textarea id="ip" name="ip" placeholder="请输入拦截IP"></textarea>
        </div>
        <div class="btn-block">
          <button type="submit" class="btn btn-primary btn-big">添加</button>
          <button type="button" class="btn btn-big">取消</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Scripts -->
<th:block th:replace="base/fragment::script"/>
</body>
</html>