<!doctype html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/fragment::head('同义词管理')"></head>
<body>
<header th:replace="base/fragment::header"></header>

<div class="container">
  <div class="wrapper manage-wrapper">
    <nav th:replace="base/fragment::nav(0)"></nav>
    <div class="content">
      <div class="card manage-card">
        <div class="title-block"><h3 class="title">同义词表管理</h3>
          <a href="#" th:href="@{/root/add}" class="btn btn-primary">添加同义词组</a>
        </div>
        <table class="manage-table">
          <tr>
            <th>同义词组</th>
            <th>操作</th>
          </tr>
          <tbody th:each="syn:${synList}">
          <tr>
            <td th:text="${syn.words}">苹果官方授权</td>
            <td>
              <a class="link" href="#" th:href="@{/synonym/update}">修改词组内容</a>
              <form action="#" th:action="/synonym/delete" method="post">
                <input type="hidden" name="id" th:value="${syn.id}">
                <button class="link" type="submit">移除</button>
              </form>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Scripts -->
<th:block th:replace="base/fragment::script"/>
</body>
</html>