<head th:fragment="head(title)" xmlns:th="http://www.w3.org/1999/html">
  <meta charset="utf-8">

  <title th:inline="text">[[${title}]]</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <!-- SEARCH -->
  <meta name="author" content="">
  <meta name="description" content="">
  <link rel="canonical" href="">

  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/normalize.css" th:href="@{/css/normalize.css}">
  <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">
</head>

<th:block th:fragment="scripts">
  <script src="/build/js/jquery.min.js}" th:src="@{/js/jquery.min.js}"></script>
  <script src="/static/js/main.js" th:src="@{/js/main.js}"></script>
</th:block>

<header th:fragment="header">
  <div class="wrapper">
    <div class="logo">
      <img src="/img/logo.png" th:src="@{/img/logo.png}" alt="" class="logo-img">
      <p class="logo-title">爱比价</p>
      <p class="logo-sub-title">全网最惠商品集中地</p>
    </div>
    <form class="search-form">
      <input type="text" placeholder="请输入搜索关键词">
      <button class="search-btn" type="submit"><img src="/img/search.png" th:src="@{/img/search.png}" alt=""></button>
    </form>
  </div>
</header>

<div class="nav" th:fragment="nav(chosen)">
  <a class="nav-item" th:class="'nav-item ' + (${chosen}==0 ? 'nav-item-active')">同义词表管理</a>
  <a class="nav-item" th:class="'nav-item ' + (${chosen}==1 ? 'nav-item-active')">屏蔽词表管理</a>
  <a class="nav-item" th:class="'nav-item ' + (${chosen}==2 ? 'nav-item-active')">竞价排序管理</a>
  <a class="nav-item" th:class="'nav-item ' + (${chosen}==3 ? 'nav-item-active')">拦截IP管理</a>
  <a class="nav-item" th:class="'nav-item ' + (${chosen}==4 ? 'nav-item-active')">拦截IP记录</a>
  <a class="nav-item" th:class="'nav-item ' + (${chosen}==5 ? 'nav-item-active')">服务器状态</a>
</div>